= form_for @group do |f|
  - if @group.errors.any?
    .chat-group-form__errors
    %h2= "#{group.errors.full_messages.count}件のエラーが発生しました。"
    %ul
      - @group.errors.full_messages.each do |message|
        %li= message
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      %f.label.chat-group-form__label グループ名
    .chat-group-form__field--right
      = f.text_field :name, class: 'chat-group-user__name chat-group-form__input', placeholder: 'グループ名を入力してください'
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      %f.label.chat-group-form__label{for: "user_search_field"}チャットメンバーを追加
    .chat-group-form__field--right
      %input.chat-group-form__input{name: "keyword", type: "text", placeholder: '追加したいメンバーを入力してください', id: 'user-search-field'}
      #user-search-result
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      %f.label.chat-group-form__label{for: "chat_group_user"} チャットメンバー
    .chat-group-form__field--right
      #chat-group-users
        .chat-group-user.clearfix
          %input{name: "chat_group[user_ids][]", type: "hidden", value: current_user.id}
          %p.chat-group-user__name
            = current_user.name
  .chat-group-form__field
    .chat-group-form__field--left
    .chat-group-form__field--right
      = f.submit class: 'chat-group-form__action-btn'
